
:host {
    margin: 5px;
    overflow-y: auto;
    overflow-x: auto;
}
h2 {
    color: #f90;
}
.red {
    color: #f33;
}
body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
}
.item {
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: none;
}

section.binding-tree {
}

