# my regular gitignore file

# cocos creator projects
hellouniverse
polished_project
sample
local
tutorial-blackjack

# cocos creator configuration
*.meta
library
node_modules
temp

# version control and system protocos
.git
.svn
.DS_Store
Thumbs.db

# IDE sake
.vscode
.sublime-project
.sublime-workspace 

# ban binary files
*.jpg
*.gif
*.png
*.fnt
*.doc
*.docx
*.xmind
*.xls
*.pyc
*.mp3
*.mp4


# sublime files exclude patterns
.tags
.tags_sorted_by_file
.gemtags
*.pyc
*.pyo
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.class
*.psd
*.db
*.sublime-workspace

# sublime sftp exclude patterns
.hg
.bzr
desktop.ini
_darcs
CVS

# ban cache directories
cache
template_c
venv
