<li>
    <div
        v-show="display"
        :class="{bold: isFolder, red: matched}">
        <span v-text="hierarchy.name"
        @click="toggle" ></span>
        <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
        <span @click="logNode">view</span>
    </div>
    <ul v-show="open" v-if="isFolder">
        <children
        class="item"
        v-for="hierarchy in hierarchy.children"
        :source="source"
        :Ipc="Ipc"
        :hierarchy="hierarchy">
        </children>
        <compo>
        </compo>
    </ul>
</li>